.titleCesto {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    background-color: #5f361d;
}

.cesto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5f361d;
  color: #ffffff;
  padding: 10px;
  margin: 0;
}

.carrinho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5f361d;
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

.custoTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  flex-direction: column;
  padding: 20px 50px;
  border-radius: 20px;
}

.custoTotals {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.estudante,
.cupao {
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.comprar {
  font-size: 17px;
  background-color: #5f361d;
  color: #ffffff;
  border: 1px solid #5f361d;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.comprar:hover {
  background-color: white;
  color: #5f361d;
}

.dados {
  margin-top: 20px;
}

.emptyCart {

  font-weight: bold;
}

.purchaseMessage {

  color: black;
}
