body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff7e8;
}

#home {

  background-color: #424242;
}
 
#produtos {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tecnologias {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #424242;
}

@keyframes slide-down {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

footer {
  text-align: center;
  font-weight: bold;
}

.dados {

  display: flex;
  color: black;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

