/* Correção do nome da classe */
.titleProdutos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(29, 29, 29);
    margin-top: 60px;
}

/* Novo contêiner principal */
.filterBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filtros {

    font-weight: bold;
    margin: 0 10px 0 20px;
}

.barra {
    display: flex;
    background-color: white;
    margin: 20px 150px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    max-width: 1200px;
}

/* Novo grupo para rótulos e inputs */

.label {
    font-size: 16px;
    margin: 10px;
    color: #333;
}

/* Estilos compartilhados para inputs e selects */
.filtrar,
.ordenar,
.pesquisar {
    font-size: 15px;
    width: 200px;
    background-color: #452b1a;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

.filtro:hover,
.ordenar:hover,
.pesquisar:hover {
    background-color: #6c3d26;
}
